.breadCrumb {
  margin: 0 0 10px 20px;
}
.orangization {
  padding: auto;
  margin: 0 10px 24px 10px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* hover 时的阴影效果 */
  transition: all 0.3s ease-in-out; /* 加入过渡效果 */
}

.disabledRow {
  background-color: #f5f5f5; /* 浅灰色背景 */
  color: #aaa; /* 字体颜色为灰色 */
  filter: opacity(0.4); /* 透明度设置为 0.1 */
}